body{background-image: url(../fondo.jpg);background-size: cover;}
#titulo{background-color: white}
#titulo{display: flex;align-items: center;justify-content: center;}
nav{ display: flex;justify-content: space-around;}
#whattsap{width: 40px; height: 40px}
#instagram{width: 40px; height: 40px}
#facebook{width: 40px; height: 40px}
footer{display: flex;justify-content: space-around;align-items: center;}
#Mapa{width: 56px; height: 50px}
aside{display: flex;justify-content: space-around;align-items: center;}
#logo{width: 170px;height: 110px}
header{display: flex;justify-content: space-around;align-items: center;}
#titulolocro{background-color: white}
#videolocro1{background-color: white}
a:hover{color: red}
@media (max-width: 500px)
 { #imglocro { display: none;
}
}
@media (min-width:756px)
 { #goku { display: none;
 }
 }
@media (min-width: 756px)
 { #goku1 { display: none;
}
}
@media (max-width: 500px)
{ #videolocro { display: none;
}
}
@media (max-width: 500px)
{ #logo { display: none;
}
}
